.html, body {
    margin: 0;
    padding: 0;
}

.Motherarea {
    width: 980px;
    margin: 0 auto;
}

.firstcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 350px;
}

.maintextcontainer {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

.secmaintextcontainer {
    flex-wrap: wrap;
    display: flex;
    flex: row;
    align-content: space-around;
    margin-top: 70px;
    
    width: 50%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    height: 95%;
}

.box1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ececec;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    margin-right: 100px;
}

.box2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ececec;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    margin-right: 50px;
}

.box3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ececec;
    border-radius: 5px;
    width: 400px;
    height: 50px;
}

.stars {
}

.star2 {
    padding-left: 7px;
}

.star3 {
    padding-left: 7px;
}

.star4 {
    padding-left: 7px;
}

.star5 {
    padding-left: 7px;
}

.review1 {
    font-size: 15px;
    display: inline-block;
    color: rgb(46, 0, 46);
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
}

.Maintext {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    padding-top: 40px;
}

.mainparagraph {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    opacity: 0.5;
}

.seccontainer {
    padding-top: 53px;
    flex-wrap: wrap;
    display: flex;
    flex: row;
    justify-content: space-between;
    height: 39%;
}

.maincolumn1 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(78, 0, 78);
    width: 310px;
    height: 200px;
    border-radius: 7px;
}

.profilecolumn {
    height: 160px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.profile {
    margin-top: 5px;
    margin-bottom: 20px;
    color: lightgrey;
    font-family: 'Roboto', sans-serif;
    height: 34%;
}

.profileheader {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.colton {
    display: inline-block;
    border-radius: 50px;
    width: 43px;
}

.profiletype {
    margin-right: 110px;
    color: rgb(170, 0, 147);
}

.profilename {
    color: lightgrey;
}

.profiletext {
    color: rgb(165, 165, 165);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.maincolumn2 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(78, 0, 78);
    margin-top: 15px;
    width: 310px;
    height: 200px;
    border-radius: 7px;
}

.maincolumn3 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(78, 0, 78);
    margin-top: 30px;
    width: 310px;
    height: 200px;
    border-radius: 7px;
}